table {
  width: 100%;
  margin-top: 80px; 
}

th, td {
  padding: 12px 15px;
  text-align: left;
}

th {
  background-color: #3f51b5;
  color: rgb(80, 48, 48);
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

  
